@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(196, 195, 195);
    font-family: 'Poppins',sans-serif;
    text-align: center;
    padding: 50px;
}

.container {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    background: rgb(113, 224, 215);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
    float: left;
}

.container:hover {
    height: 470px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);
}

.container .wrapper img {
    position: relative;
    display: block;
    height: 200px;
    width: 200px;
    z-index: 20;
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.3s ease;
}

.container .wrapper img:hover {
    transform: scale(0.95);
}

.container:hover .wrapper img.active {
    height: 470px;
    width: 350px;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
}

.wrapper .name {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    line-height: 25px;
}


.content {
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
    padding: 1px 20px 10px 20px!important;
}

.content .buttons {
    display: flex;
}

.buttons .btn {
    height: 40px;
    width: 150px;
    margin: 0 5px;
}

.buttons .btn button {
    height: 100%;
    width: 100%;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn button:hover {
    transform: scale(0.95);
    background: rgb(58, 235, 52);
}

.container .icons {
    position: relative;
    margin-top: -400px;
    margin-left: 10px;
    list-style-type: none;
}

.container .icons.active {
    display: none;
}

.container .icons li {
    height: 40px;
    width: 40px;
    margin: 5px 0;
    opacity: 0;
    margin-left: -100px;
    transition: all 0.5s ease;
}

.container:hover .icons li{
    opacity: 1;
    margin-left: 7px;
}

.container:hover .icons li:nth-child(2) {
    transition-delay: 0.2s;
}

.container:hover .icons li:nth-child(3){
    transition-delay: 0.4s;
}

.container .icons li a {
    display: block;
    color: #7b00e0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #fff;
    line-height: 40px;
    transition: all 0.3s;
}

.container .icons li a:hover{
    transform: scale(0.9);
    background-color: rgb(128, 127, 130);
    color: rgb(12, 5, 38);
}


/* Main */

.main {
    width: 50%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    overflow: hidden;
}

.nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.nav ul li {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}

.nav ul li a {
    text-decoration: none;
}













